<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LNRunning.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5667187A1E4C2CA800C51E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>566718931E4C2CA900C51E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5667189E1E4C2CA900C51E73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
